@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* navbar */
.navbar{
    height: 60px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Jua';
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

#logo{
	text-decoration: none;
	font-size: 200%;
	font-weight: bold;
	line-height: 60px;	
	color: black;
}


.navbar #menu{
	float:right;
	list-style:none;
	margin: 0;
	padding: 0;
	line-height: 60px;	
}
.navbar #menu li{
    width: 120px;
    text-align: center;
    float: left;
    height: 60px;
}

.navbar #menu li a{
	color: #545454;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
}

ul.son {
    width: 100%;
}

/*searchbar*/

.searchbar{
    height: 80px;
    padding-left: 60px;
    padding-right: 60px;
    line-height: 80px;
    display: block;
    margin-top: 70px;
}

#search{
    width: 70%;
    border: none;
    height: 80px;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
}

#searchform{
	width: 50%;
    border: 5.5px solid lightseagreen;
    height: 55px;
    display: flex;
    margin-top: 10px;
    margin-left: 25%;
}

input#search{
    width: 93%;
    border: none;
    height: 43px;
    margin: 0;
    font-size: 20px;
}

#searchform button{
	border: none;
    background-color: white;
}

#sell{
    font-weight: bold;
    font-size: 20px;
    width: 20%;
    margin-left: 20px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color:black;
}

/*hero header*/
.hero-header{
	height: 450px;
	background-image: url("../images/home.jpg");
	background-repeat: no-repeat;
	background-size : cover;
	background-position: center center;
}
.time-limit{
	font-size: 45px;
	text-align: center;
    letter-spacing: -.1px;
	height: 70px;
	line-height: 55px;
	vertical-align: middle;
	padding: 7.5px;
}

#clock{
	color: red;
}