@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family:"Helvetica";
}

/*main_product*/
.main_product{
	box-sizing: border-box;
	display: block;
	background-color: white;
    font-weight: bold;
}
.main_title{
	margin: 40px auto 0;
	padding: 0 40px;
	max-width: 1280px;
}

.main_title .main_title_2{
	font-size: 20px;
	letter-spacing: -.1px;
	font-weight: bold;
	color: red;
}

.main_title .sub_title{
	font-size: 15px;
	letter-spacing: 0.21px;
	color: black;
}


/* product_list_container */
.product_list_container{
	max-width:1280px;
	margin: 0 auto 60px;
	overflow-anchor:none;
	
}
.product_list_container .product_list{
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	padding: 0 25px;
	width: 100%;
}

.product_list_container .item:nth-child(4+1){
	clear: left;
}

.item{
	position: relative;
	float: left;
	margin: 20px 0;
	padding: 0 13px;
	width: 25%;
	transition: all .3s;
}

.item .item_enter{
	display:block;
	background-color: white;
	border-radius: 15px;
	text-decoration: none;
	color: black;
}
.thumbnail_box{
	box-sizing: border-box;
}

.product{
	overflow:hidden;
	position:relative;
	padding-top: 100%;
	border-radius: 8px;
}

.product_img{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	width: 80%;
	height: auto;
}

.product_info{
}

.product_kind{
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	font-weight: 700;
	color: black;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom: 1px solid black;
}

.item .product_name{
	max-height: 40px;
	margin-bottom: 2px;
	line-height: 17px;
	margin-top: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
	font-size: 15px;
	color: black;
}

.item .price{
}

.itme .num{
	display: inline-block;
	vertical-align: top;
	line-height: 17px;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: -.03px;
}
.itme .won{
	display: inline-block;
	vertical-align: top;
	line-height: 17px;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: -.03px;
}

.item .buy_price{
	line-height: 15px;
	font-size: 15px;
	color: black;
}


/*board, write*/
#container{
	max-width: 1280px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 40px 40px 160px;
	margin-bottom: 200px;
    overflow: hidden;
}

#sub_board_menu{
	float: left;
	width: 170px;
	margin-right: 40px;
}

#sub_board_menu a{
	text-decoration: none;
	color: black;
	font-size: 200%;
	font-weight: bold;
}

#sub_board_menu nav{
	box-sizing: border-box;
}

#sub_board_menu nav a{
	text-decoration: none;
	color: black;
	font-size: 120%;
	font-weight: normal;
	text-align: left;
}

#sub_list{
	margin-top: 30px;
	padding: 0px;
}

#sub_list li{
	margin-top: 30px;
}

#bwrite a{
	cursor: pointer;
}
#bwrite a:hover{font-size:150%; font-weight:bold;}

#content{
	overflow: hidden;
}

.pagination{
	padding: 28px 0;
}

/*판매하기 페이지*/
#pimage_area{
	width: 50%;
    height: 600px;
    float: left;
    background-color: white;
    padding: 20px;
}

#pinfo_area{
	width:50%;
	height:800px;
	overflow: hidden;
    padding: 10px;
	border-left: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
}

#sell_form{
    height: 100%;
}

.pimag_upload{
    background-color: #ebebeb;
    width: 45%;
    height: 45%;
    float: left;
    margin: 2%;
    border: 3px solid #ebebeb;
}

.pimag_upload img{
	margin-top: 25%;
    margin-left: 25%;
}


.sell_write_area{
	border-bottom: 1px solid #ebebeb;
}	

.sell_title{
    float: left;
}

.sell_title_txt{
    padding-top: 5px;
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -.07px;
    color: rgba(34,34,34,.8);
    margin-top: 20px;
}

.sell_write_input{
    float: right;
}

.sell_write_input_txt{
    padding-top: 5px;
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -.07px;
    color: rgba(34,34,34,.8);
    margin-top: 20px;
    text-align: right;
}

.trade_method_input{
    float: right;
    padding-top: 2px;
    text-align: right;
    width: 30%;
}

.trade_method_input.txt{
	display: inline-block;
    line-height: 26px;
    vertical-align: top;
}

#product_content{
    display: block;
    width: 100%;
    height: 83%;
    background-color: #ebebeb;
    border: none;
    font-size: 20px;
    opacity: 50%;
    padding: 10px;
}


#sell_btn button{
	margin: 0 auto;
    display: block;
    vertical-align: middle;
    margin-top: 10%;
    width: 50%;
    height: 90%;
    background-color: #1daeb3;
    font-size: 23px;
    letter-spacing: -.27px;
    color: white;
    font-weight: 900;
    border-radius: 10px;
    border: none;
}

#trade_method_select{
	padding-top: 5px;
    display: inline-block;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: -.07px;
    color: rgba(34,34,34,.8);
    margin-top: 20px;
    width: 62%;
    text-align: center;
    letter-spacing: 3px;
}